@config "../tailwind.config.ts";
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Text Colors */
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;

  --main-color: #00bc8b; /* primary */
  --main-light: #00e6aa; /* hover / light bg */
  --main-dark: #018c68; /* heading / strong */
  --main-shadow: rgba(48, 249, 209, 0.25);

  --toast-shadow: #3d3d3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ✅ main color system -> Tailwind tokens */
  --color-main: var(--main-color);
  --color-main-light: var(--main-light);
  --color-main-dark: var(--main-dark);
  --color-main-shadow: var(--main-shadow);

  --color-toast-shadow: var(--toast-shadow);

  /* ✅ shadow token */
  --shadow-main: 0 4px 12px var(--main-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 모바일 중심 기본 세팅 */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

* {
  box-sizing: border-box;
}
