@config "../tailwind.config.ts";
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* 기본 배경/글자색 (시스템 예약어) */
  --background: #ffffff;
  --foreground: #171717;

  /* Text Colors */
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;

  /* Main Color System */
  --color-main: #00bc8b;
  --color-main-light: #00e6aa;
  --color-main-dark: #018c68;
  --color-main-shadow: rgba(48, 249, 209, 0.25);

  --color-toast-shadow: #3d3d3d;

  /* Shadow Token (위에서 정의한 변수 바로 참조 가능) */
  --shadow-main: 0 4px 12px var(--color-main-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 모바일 중심 기본 세팅 */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

* {
  box-sizing: border-box;
}
